build-Client-Desktop_Qt_6_4_1_GCC_64bit-Release/**
*.txt.user
todo.txt
.vscode
RemoteServer/data
Client/build/
common/proto/*.txt
doc/**
SimulateClient/**
Server/api/**
Server/data/**
CommunicationProtocol/generator/gen/**
